body {
	background-color: #ccccb3;
}
ul {
	list-style: none;
}
#navbar {
	float: right;
	margin-top: 0px;

}
#heading {
	float: left;
	color: blue;
}
ul li {
	display: inline-block;
	text-align: right;

}